<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>

</head>
<body class="body">
    
    <header class="header">

    </header>

    <main class="main contenedor">
        <div class="contenido">
            <div class="preguntas">
                <!--
                <p>Pregunta</p>
                    -->
            </div>
            <div class="respuestas">
                <div class="respuesta">
                    <label for="">Pedro</label>
                    <input type="radio" name="pregunta1">
                </div>
                <div class="respuesta">
                    <label for="">Pablo</label>
                    <input type="radio" name="pregunta1">
                </div>
                <div class="respuesta">
                    <label for="">Sergio</label>
                    <input type="radio" name="pregunta1">
                </div>
            </div>
            <div class="botones">
                <div class="boton">
                    <input type="button" class="atras" value="Atras">
                </div>
                <div class="boton">
                    <input type="button" class="siguiente" value="Siguiente">
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">

    </footer>

    <script src="../app/app.js"></script>
</body>
</html>